{% extends 'base.html.twig' %}

{% block title %}PLM DB{% endblock %}

{% block body %}
    <div class="py-5 px-5 mt-0 mx-auto" style="background-color: #312c42; width: 95%;" >
        <div class="row align-items-center">
            <div class="col-md-6 text-white pl-0">
                <h1 class="display-1 fw-bold">PLM DB</h1>
                <h2 class="fw-semibold mb-3">Todo sobre Paren La Mano</h2>
                <p class="text-secondary mb-4">
                    Todos los programas, vlogs y eventos que hizo la bandurria. 
                    Todos los conductores, columnistas e invitados que fueron pasando.
                    Toda la data del programa lider en su franja horaria.
                </p>
            </div>
            <div class="col-md-6 pr-0">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="https://pbs.twimg.com/media/GhBrO5WXsAAD1a2?format=jpg&name=medium" alt="Imagen PLM" class="rounded img-fluid">
                </div>
            </div>
        </div>
    
        <h1 class="fw-bold mt-5 text-center">Mirá todos los programas!</h1>
        <a href="{{ path('app_programa_index') }}" class="aa w-75 p-0 mx-auto ratio ratio-16x9"> 
            <img src="{{ programa.miniatura }}" alt="Imagen PLM" class="img-fluid object-fit-cover">
        </a>

        <h1 class="fw-bold mt-5 text-center">Salen esos vlogs de la bandurria?</h1>
        <div id="carouselVlogs" class="carousel slide w-75 mx-auto" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for edicion in ediciones %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        {% set firstVlog = edicion.vlogs|first %}
                        <img src="{{ firstVlog.miniatura }}" class="d-block w-100 rounded-top img-fluid" alt="Imagen de la edición {{ edicion.nombre }}" style="max-height: 400px; object-fit: cover;">
                        <div class="d-flex justify-content-center mb-0">
                            <div class="text-white p-2 w-100 text-center rounded-bottom" style="background-color: black;">
                                <h5>{{ edicion.nombre }}</h5>
                                <div class="d-grid d-md-block mb-2">
                                    <button class="btn btn-outline-secondary mr-3 py-1 px-2" type="button">Ver este vlog</button>
                                    <button class="btn btn-outline-secondary py-1 px-2" type="button">Ver todos los vlogs</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselVlogs" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselVlogs" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></button>
        </div>
    

        <h1 class="fw-bold mt-5 text-center">El plantel fijo de PLM</h1>
        <div class="mx-auto" style="width: 85%">
            <div class="row text-center">
                {% for conductor in conductores %}
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card text-white" style="background-color:rgb(33, 30, 44);">
                            <img src="{{ conductor.foto }}" class="card-img-top" alt="{{ conductor.nombre }}" style="max-height: 220px; min-height: 220px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title mb-0">{{ conductor.nombre }}</h5>
                            </div>
                        </div>
                    </div>

                    {% if loop.index == 3 %}
                        </div><div class="row text-center justify-content-center">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="d-grid text-center w-100">
                <a href="{{ path('app_conductores_index') }}" class="btn btn-primary w-50" style="background-color:rgb(33, 30, 44);" type="button">Más data de los muchachos</a>
            </div>
        </div>

    </div>

    <style>
        a.aa {
            display: block;
            position: relative;
            overflow: hidden;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease;
            border-radius: 8px;
        }

        a.aa:hover {
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
        }

        a.aa img {
            width: 100%;
            height: 100%; 
            transition: transform 0.3s ease;
        }

        a.aa:hover img {
            transform: scale(1.1);
        }
    </style>
{% endblock %}