{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex gx-5">
        <a href="{{ path('app_category_index') }}" class="btn btn-secondary pt-1 pb-1 mr-2">
            <i class="fa-solid fa-arrow-left"></i>
            Back
        </a>
        <button class="btn btn-info pt-1 pb-1 mr-2">
            <i class="fa-solid fa-download"></i>
            {{ button_label|default('Save') }}
        </button>
    </div>
{{ form_end(form) }}