{{ form_start(form) }}
    <div class="row mb-5 justify-content-md-center">
        <div class="col">
            <h5>{{ form_label(form.nombre) }}</h5>
            <small>{{ form_errors(form.nombre) }}</small>
            {{ form_widget(form.nombre) }}
            <small>{{ form_help(form.nombre) }}</small>
        </div>
        <div class="col">
            <h5>{{ form_label(form.apellido) }}</h5>
            <small>{{ form_errors(form.apellido) }}</small>
            {{ form_widget(form.apellido) }}
            <small>{{ form_help(form.apellido) }}</small>
        </div>
    </div>
    <div class="row mb-5 justify-content-md-center">
        <div class="col">
            <h5>{{ form_label(form.dni) }}</h5>
            <small>{{ form_errors(form.dni) }}</small>
            {{ form_widget(form.dni) }}
            <small>{{ form_help(form.dni) }}</small>
        </div>
        <div class="col">
            <h5>{{ form_label(form.edad) }}</h5>
            <small>{{ form_errors(form.edad) }}</small>
            {{ form_widget(form.edad) }}
            <small>{{ form_help(form.edad) }}</small>
        </div>
    </div>
    <div class="row mb-5 justify-content-md-center">
        <div class="col">
            <h5 class="mb-0">{{ form_label(form.club) }}</h5>
            <small>{{ form_errors(form.club) }}</small>
            <select name="{{ field_name(form.club) }}" class="form-control">
                {% for label, value in field_choices(form.club) %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
            <small>{{ form_help(form.club) }}</small>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="mb-5">
        <a href="{{ path('app_persona_index') }}" class="btn btn-secondary pt-1 pb-1 mr-2">
            <i class="fa-solid fa-arrow-left"></i>
            Back
        </a>
        <button class="btn btn-info pt-1 pb-1 mr-2">
            <i class="fa-solid fa-download"></i>
            {{ button_label|default('Save') }}
        </button>
    </div>
{{ form_end(form) }}