{% extends 'base.html.twig' %}

{% block title %}Listado de personas{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Listado de personas</h1>
        <a class="text-white btn btn-success mb-4" href="{{ path('app_persona_new') }}">Crear persona</a>
    </div>    
    
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Edad</th>
                <th>Club</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr class="text-center">
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.dni }}</td>
                <td>{{ persona.edad }}</td>
                <td><a>{{ persona.club.name }}</a></td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#persona-modal-{{persona.id}}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_persona_edit', {'id': persona.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>

            <div id="persona-modal-{{persona.id}}" class="modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-2">
                        <div class="modal-header">
                            <p class="modal-title" lang="en">Datos de la persona</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col"><p>Id: {{persona.id}}</p></div>
                                <div class="col"><p>DNI: {{ persona.dni }}</p></div>                          
                            </div>
                            <div class="row">
                                <div class="col"><p>Nombre: {{persona.nombre}}</p></div>
                                <div class="col"><p>Apellido: {{persona.apellido}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p>Edad: {{ persona.edad }}</p></div>
                                <div class="col"><p>Club: {{ persona.club.name }}</p></div>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="{{ path('app_persona_edit', {'id': persona.id}) }}" class="btn btn-primary ml-3 mr-3">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Editar
                            </a>
                            {{ include('persona/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr class="text-center">
                <td colspan="7">No existen registros.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div data-controller="modal">
        <button data-action="modal#open">
            <span>Abrir</span>
        </button>
        <dialog data-modal-target="dialog" class="border-0 bg-success rounded">
            <form method="dialog">
                <span>Se ha creado la persona con éxito!</span>
            </form>
        </dialog>
    </div>

{% endblock %}
