{% extends 'base.html.twig' %}

{% block title %}Vlog{% endblock %}

{% block body %}
    <h1>Vlog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vlog.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ vlog.titulo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vlog_index') }}">back to list</a>

    <a href="{{ path('app_vlog_edit', {'id': vlog.id}) }}">edit</a>

    {{ include('vlog/_delete_form.html.twig') }}
{% endblock %}