{% extends 'base.html.twig' %}

{% block title %}Programas {{year}} {% endblock %}

{% block body %}
<div class="py-5 px-5 mt-0 mx-auto" style="background-color: #312c42; width: 95%;" >
    <h1 class="text-center">Programas {{year}}</h1>
    <div class="container pb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for programa in paginator.results %}
            <div class="col mb-3 ">
                <div class="card h-100" style="background-color:rgb(33, 30, 44);">
                    <img src="{{ programa.miniatura }}" class="card-img-top " alt="Miniatura del programa ">
                    <div class="card-body">
                        <h5 class="card-title">{{ programa.titulo }}</h5>
                    </div>
                    <div class="card-footer text-center" style="padding-left: 15px;padding-right: 15px;">
                        <a class="btn btn-primary py-1 px-2 mr-2" data-toggle="modal" data-target="#programa-modal-{{programa.id}}" target="_blank"> Más data </a>
                        <a class="btn btn-danger py-1 px-2 mr-2" target="_blank" href="{{ programa.linkYoutube }}"> Youtube </a>
                        {% if programa.linkSpotify != 'undefined' %}
                        <a class="btn btn-success py-1 px-2" target="_blank" href="{{ programa.linkSpotify }}"> Spotify </a>
                        {% endif %}
                    </div>
                </div>

                <div class="modal fade text-center" id="programa-modal-{{programa.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content w-100" style="background-color:rgb(33, 30, 44);">
                        <button type="button" class="close d-flex flex-row-reverse mr-3 mt-3 text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div>
                            <h5 class="modal-title">{{ programa.titulo }}</h5>
                            {% if programa.edicionClass %}
                                <p class="card-text">{{ programa.edicionClass.nombre }}</p>
                            {% else %}
                                <p class="card-text">Edición no disponible</p>
                            {% endif %}
                            <p class="card-text mt-2">Programa del {{ programa.fecha ? programa.fecha|date('Y-m-d') : '' }}</p>
                        </div>
                        <div class="modal-body">
                            <img src="{{ programa.miniatura }}" class="card-img-top " alt="Miniatura del programa ">
                            <div class="mt-3">
                                <div class="mt-3">
                                    <h6 class="m-0 d-inline">Conductores:</h6>
                                    {% for conductor in programa.conductores %}
                                        <h6 class="m-0 d-inline me-2">{{ conductor.nombre }}{% if not loop.last %}, {% else %}.{% endif %}</h6>
                                    {% endfor %}
                                </div>
                                {% if programa.columnistas|length > 0 %}
                                    {% if programa.columnistas|length == 1 %}
                                    <h6 class="m-0 d-inline">Columnista:</h6>
                                    {% else %}
                                    <h6 class="m-0 d-inline">Columnistas:</h6>
                                    {% endif %}
                                    {% for columnista in programa.columnistas %}
                                        <h6 class="m-0 d-inline me-2">{{ columnista.nombre }}{% if not loop.last %}, {% else %}.{% endif %}</h6>
                                    {% endfor %}
                                    <br>
                                {% endif %}
                                {% if programa.invitados|length > 0 %}
                                    {% if programa.invitados|length == 1 %}
                                    <h6 class="m-0 d-inline">Invitado:</h6>
                                    {% else %}
                                    <h6 class="m-0 d-inline">Invitados:</h6>
                                    {% endif %}
                                    {% for invitado in programa.invitados %}
                                        <h6 class="m-0 d-inline me-2">{{ invitado.nombre }}{% if not loop.last %}, {% else %}.{% endif %}</h6>
                                    {% endfor %}
                                    <br>
                                {% endif %}
                                <h6 class="m-0 d-inline"> {{ programa.comentario }} </h6>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if paginator.hasToPaginate %}
            <div class="navigation text-center">
                <ul class="pagination justify-content-center mt-3">
                    {% if paginator.hasPreviousPage %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('programaAno_index_paginated', {programYear: year, page: paginator.previousPage}) }}" rel="previous">
                                <i class="fa fw fa-long-arrow-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"><i class="fa fw fa-arrow-left"></i></span>
                        </li>
                    {% endif %}

                    {% if paginator.currentPage > 6 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('programaAno_index_paginated', {programYear: year, page: 1}) }}">1</a>
                        </li>
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {% set max_pages_to_show = 4 %}
                    {% set start_page = paginator.currentPage - max_pages_to_show %}
                    {% set end_page = paginator.currentPage + max_pages_to_show %}

                    {% if start_page < 1 %}
                        {% set start_page = 1 %}
                    {% endif %}

                    {% if end_page > paginator.lastPage %}
                        {% set end_page = paginator.lastPage %}
                    {% endif %}

                    {% for i in start_page..end_page %}
                        {% if i == paginator.currentPage %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only"></span></span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ path('programaAno_index_paginated', {programYear: year, page: i}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if end_page < paginator.lastPage %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {% if paginator.currentPage < paginator.lastPage - 5 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('programaAno_index_paginated', {programYear: year, page: paginator.lastPage}) }}">{{ paginator.lastPage }}</a>
                        </li>
                    {% endif %}

                    {% if paginator.hasNextPage %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('programaAno_index_paginated', {programYear: year, page: paginator.nextPage}) }}">
                                <span><i class="fa fw fa-long-arrow-right"></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"><i class="fa fw fa-long-arrow-right"></i></span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}