{% extends 'base.html.twig' %}

{% block title %}Programa{% endblock %}

{% block body %}
    <h1>Programa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ programa.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ programa.titulo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ programa.fecha ? programa.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ programa.linkYoutube }}</td>
            </tr>
            <tr>
                <th>Miniatura</th>
                <td>{{ programa.miniatura }}</td>
            </tr>
            <tr>
                <th>Edicion</th>
                <td>{{ programa.edicion }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Conductores:</h4>
    {% for conductor in programa.conductores %}
        <p class="m-0">{{ conductor.nombre }} {{ conductor.apellido }}</p>
    {% endfor %}

    <a href="{{ path('app_programa_index') }}">back to list</a>

    <a href="{{ path('app_programa_edit', {'id': programa.id}) }}">edit</a>

    {{ include('programa/_delete_form.html.twig') }}
{% endblock %}