{% extends 'base.html.twig' %}

{% block title %}Listado de clubes{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Listado de clubes</h1>
        <a class="text-white btn btn-success mb-4" href="{{ path('app_club_new') }}">Create new</a>
    </div>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Socios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr class="text-center">
                <td>{{ club.name }}</td>
                <td>{{ club.city }}</td>
                <td>{{ club.socios }}</td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#club-modal-{{club.id}}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>

            <div id="club-modal-{{club.id}}" class="modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-2">
                        <div class="modal-header">
                            <p class="modal-title" lang="en">Datos del club</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Id: {{club.id}}</p>
                            <p>Nombre: {{club.name}}</p>
                            <p>Ciudad: {{club.city}}</p>
                            <p>Socios: {{club.socios}}</p>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="{{ path('app_club_edit', {'id': club.id}) }}" class="btn btn-primary ml-3 mr-3">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Editar
                            </a>
                            {{ include('club/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr class="text-center">
                <td colspan="6">No existen registros.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
