{% extends 'base.html.twig' %}

{% block title %}Edificio index{% endblock %}

{% block body %}
    <h1>Edificio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Street</th>
                <th>Number of street</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edificio in edificios %}
            <tr>
                <td>{{ edificio.id }}</td>
                <td>{{ edificio.name }}</td>
                <td>{{ edificio.street }}</td>
                <td>{{ edificio.numberStreet }}</td>
                <td>
                    <a href="{{ path('app_edificio_show', {'id': edificio.id}) }}">show</a>
                    <a href="{{ path('app_edificio_edit', {'id': edificio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_edificio_new') }}">Create new</a>
{% endblock %}
