{% extends 'base.html.twig' %}

{% block title %}Conductores PLM{% endblock %}

{% block body %}
    <h1 class="text-center">Conductores PLM</h1>

    <div class="row row-cols-1 row-cols-md-1 g-4">
    {% for conductor in conductors %}
    <div class="card mb-3" style="height: 270px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ conductor.foto }}" style="height: 268px; width: 400px" class="rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body ml-3">
            <h2 class="card-title">{{ conductor.nombre }} {{ conductor.apellido }}</h2>
            <p class="card-text">{{ conductor.apodo }} tiene {{ conductor.edad }} años. {{ conductor.cumple|date('Y-m-d') }}</p>
            <div class="text-center d-flex align-items-end">
                <a class="btn btn-outline-primary p-1 mr-2" href="{{ conductor.instagram }}" role="button" target="_blank">Instagram</a>
                <a class="btn btn-outline-primary p-1 mr-2" href="{{ conductor.twitter }}" role="button" target="_blank">Twitter</a>
                <a class="btn btn-outline-primary p-1 mr-2" href="{{ conductor.youtube }}" role="button" target="_blank">Youtube</a>
                <a class="btn btn-outline-primary p-1" href="#" role="button">Ver más</a>
                <a href="{{ path('app_conductor_show', {'id': conductor.id}) }}">show</a>
            </div>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}
